[tool.poetry]
name = "mostly-python-client"
version = "0.1.0"
description = "Mostly Python Client"
authors = ["MOSTLY AI <office@mostly.ai>"]
license = "Proprietary"
readme = "README.md"
packages = [
    { include = "mostlyai" }
]

[tool.poetry.dependencies]
python = "^3.9"
pydantic = "^2.4.2"
httpx = "^0.25.1"
pandas = "^2.1.4"
pyarrow = "^14.0.2"
rich = "^13.7.0"

[tool.poetry.dev-dependencies]
pytest = "^7.0.0"
mypy = "^0.931"
pylint = "^2.12.2"
isort = "^5.10.1"
black = "^22.1.0"
pre-commit = "^2.17.0"
datamodel-code-generator = { version = "^0.22.0", extras = ["http"] }

[tool.poetry.group.dev.dependencies]
vcrpy = "^5.1.0"

[tool.mypy]
python_version = "3.9"
follow_imports = "silent"
ignore_missing_imports = true
warn_unused_to_dicts = true
warn_redundant_casts = true
warn_unreachable = true

[tool.isort]
profile = "black"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
